.trending .nav{
  display: flex;
  justify-content: center;
}
.trending .nav .nav-link{
  color:#1c1d1c;
  font-family: Montserrat-Regular, sans-serif;
}
.trending .sub-title{
  display: flex;
  justify-content: center;
  margin-top:20px;
}
.trending .sub-title h6{
  font-family:  Montserrat-Regular, sans-serif;
  padding:0;
  font-weight: 400;
}
.trending .sub-title .marked{
 margin-left:35px;
 margin-right:35px;

}
.trending .card {
  border:none;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-bottom:10px;
    height:340px;
    margin-top:30px;
  transition: all 0.5s ease;
}
.trending .card .card-img-top {
  height: 300px;
  transition: all ease 0.5s;
  position: relative;
}
.trending .card:hover .pro-buttons {
  visibility: visible;
}
.trending .card .card-body {
  padding-top: 5px;
  padding-bottom: 5px;
 display: flex;
 justify-content: space-between;
}
.trending .card .card-body .card-text {
 
 
 
  font-family: Montserrat-Regular, sans-serif;
}
.trending .card .card-body  .price-discount{
  text-decoration: line-through;
}
.trending .pro-buttons {
  position: absolute;
  top: 150px;
  visibility: hidden;
}
.trending .pro-icons {
 display:flex;
 justify-content: space-between;
 
  font-size: 12px;
  margin-left: 10px;
}

.trending .pro-icons .icon {
  background-color: #1c1d1c;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}
.trending .btn-block {
  width: 200px;
  margin-left: 5px;
  margin-top: 15px;
  border-radius: 0 !important;
  background-color: #1c1d1c;
  border: none;
  padding: 10px 0;
}
.product .pro-tag {
  position: absolute;
  top: 5px;
  padding: 5px 10px;
  left: 20px;
  color: #dddddd;
  font-size:8px;
}
.pro-description .pro-title a {
  font-size: 18px;
  color: black !important;
  text-decoration: none !important;
}
.pro-description {
  margin-left: auto;
  margin-right: auto;
}
.trending .pro-tag {
  position: absolute;
  top: 5px;
  padding: 5px 10px;
  left: 20px;
  color: #dddddd;
  border-radius: 10px;
}
